<h1>Add A Tamagotchi</h1>
<form action = "/show" method="post">

  <label for ="new-name">Name</label>
  <input id ="new-name" name="new-name" type="text">


  <button type="submit">Submit</button>

</form>
