@{
  Layout = "_Layout";
}

    <h1>Tamagotchi</h1>
    <h1>Here are your pets</h1>
    @foreach(var pet in Model)
    {

      <p><a href="/show/@pet.GetId()">Name: @pet.Name</a></p>

    }

    <a href="/add">Add a new Tamagotchi.</a>
